.recover-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 50%;
    height: 350px;
    margin: 5% auto;
    border: 1px solid #6e29cc;
    border-radius: 20px;
    background-color: hsl(265, 67%, 48%);
}

.email-recover {
    width: 70%;
    background-color: #8b54d6;
}

.buttons-recover {
    display: flex;
    width: 70%;
    justify-content: end;
    gap: 20px;
}

.buttons-recover button {
    padding: 15px 25px;
    background-color: #48B6A1;
    border: 1px solid #48B6A1;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.buttons-recover button:hover {
    transform:scale(1.1);
}