.card-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.formulario-login {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    gap: 10px;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}

.ingreso-datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.password-forget {
    display: flex;
    justify-content: left;
    text-align: left;
    cursor: pointer;
}

.iniciar-secion {
    display: flex;
    justify-content: space-around;
    color: rgb(241, 241, 241);
    text-transform: capitalize;
}

.frase-login h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    color: white;
}

.boton-login{
    font-size: 15px;
    width: 135px;
    height: 55px;
    margin-left: 300px;
    color: white;
    background-color: #48b6a1;
    border: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.boton-login:hover {
    transform: scale(1.1);
    /* Color de fondo al pasar el ratón */
}




.forget-password{
    padding-right: 80px;
}
.forget-password2{
    padding-left: 80px;
}
.forget-password:hover{
    transform: scale(1.1);
}
.forget-password2:hover{
    transform: scale(1.1);
}

@media (max-width: 430px) {
    .boton-login{
        font-size: 15px;
        width: 135px;
        height: 50px;
        margin-left: 180px;
    }
    .forget-password{
        padding-right: 10px;
    }
    .forget-password2{
        padding-left: 10px;
    }
}